{% extends "template.html" %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <a href="http://www.inf.ufrgs.br/~rppelle/" target="_blank"><h5>Rogers Prates de Pelle</h5></a>
      Aluno de Mestrando no Instituto de Informática da Universidade Federal do Rio Grande do Sul (UFRGS)
      <br>Contato: <a href="mailto:rogers.pelle@inf.ufrgs.br">rogers.pelle@inf.ufrgs.br</a>
      <br><br>
      <a href="http://inf.ufrgs.br/~viviane/" target="_blank"><h5>Prfª. Drª. Viviane Pereira Moreira</h5></a>
      Professora Adjunta no Instituto de Informática da Universidade Federal do Rio Grande do Sul (UFRGS)
      <br>Contato: <a href="mailto:viviane@inf.ufrgs.br">viviane@inf.ufrgs.br</a>
    </div>
  </div>
{% endblock content %}
