{% extends "template.html" %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <p>Segundo John Nockleby, discurso de ódio (<i>hate speech</i>) por ser definido como "qualquer comunicação que deprecia uma pessoa ou um grupo com base em alguma características como raça, cor, etnia, sexo, orientação sexual, nacionalidade, religião ou outra característica". Desde o início da Web existem usuários que ofendem outros usuários, eles são chamados de <i>haters</i>. Mas só nos últimos anos eles estão sendo combatidos mais fortemente, pois quanto maior o número de usuários ativos nas redes sociais, mais pessoas são afetadas por essas ofensas, gerando uma maior repercussão.</p>
      <p>Recentemente, empresas como Facebook, Twitter e YouTube têm enfrentado ações legais por permitir que usuários postem textos considerados ofensivos. Apesar do esforço aplicado na identificação de textos com ofensas, é praticamente impossível para os seres humanos verificar tudo o que é postado na rede. Relatórios dizem que os brasileiros são os que mais gastam tempo nas mídias sociais e estimam que 96% de todos os usuários brasileiros de Internet têm pelo menos uma conta de rede social. Só Facebook tem mais de 100 milhões de contas brasileiras. O país ocupa o terceiro lugar no número de usuários do Facebook e o quinto no número de usuários do Twitter.</p>
      <p>O projeto <a href="http://www.comunicaquemuda.com.br/" target="_blank">COMUNICA QUE MUDA</a> preparou um dosiê com alguns dados sobre a intolerâ   ncia nas redes sociais. <a href="http://www.comunicaquemuda.com.br/dossie/intolerancia-nas-redes/" target="_blank">Clique aqui</a> para acessar o documento completo.</p>
    </div>
  </div>
{% endblock content %}
