{% extends "template.html" %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <p><a href="http://www.bbc.com/news/technology-37989475">Children see 'worrying' amount of hate speech online</a> (BBC)</p>
      <p><a href="https://diversao.terra.com.br/gente/purepeople/fernanda-gentil-e-alvo-de-homofobicos-apos-namoro-com-mulher-deus-nao-aprova,259cdc29093d075f4902703784348550epp6rd82.html">Fernanda Gentil é alvo de homofobia após assumir namoro</a> (terra)</p>
      <p><a href="http://g1.globo.com/rio-de-janeiro/noticia/2016/07/preta-gil-diz-ter-sido-atacada-com-mensagens-de-odio-em-rede-social.html">Preta Gil denuncia 'mensagens de ódio' recebidas em rede social</a> (G1)</p>
      <p><a href="http://g1.globo.com/rio-de-janeiro/noticia/2016/05/cantora-ludmilla-ira-registrar-caso-de-racismo-na-policia-diz-empresario.html">Cantora Ludmilla irá registrar caso de racismo na polícia, diz empresário</a> (G1)</p>
      <p><a href="http://www.bbc.com/news/technology-36301772">Facebook, Twitter and YouTube face action over hate speech</a> (BBC)</p>
      <p><a href="http://g1.globo.com/rio-de-janeiro/noticia/2015/12/atriz-sheron-menezzes-sofre-ofensas-racistas-em-redes-sociais.html">Atriz Sheron Menezzes sofre ofensas racistas em redes sociais</a> (G1)</p>
      <p><a href="http://g1.globo.com/rio-de-janeiro/noticia/2015/11/atriz-tais-araujo-e-alvo-de-comentarios-racistas-em-rede-social.html">Atriz Taís Araújo é alvo de comentários racistas em rede social</a> (G1)</p>
    </div>
  </div>
{% endblock content %}
