{% extends "template.html" %}

{% block content %}
  <div class="row">
    <div class="col s12" id="papers" align="justify">
      <p>Nobata, Chikashi, et al. <a href="http://dl.acm.org/citation.cfm?id=2883062" target="_blank">Abusive Language Detection in Online User Content.</a> International Conference on World Wide Web. International World Wide Web Conferences Steering Committee, 2016.</p>
      <p>Djuric, Zhou,et al. <a href="http://dl.acm.org/citation.cfm?id=2742760" target="_blank">Hate speech detection with comment embeddings.</a> International World Wide Web Conferences Steering Committee, 2015.</p>
      <p>Shuhua Liu and Thomas Forss. <a href="http://ieeexplore.ieee.org/document/7395771/?arnumber=7395771" target="_blank">Text classification models for Web content filtering and online safety.</a> IEEE International Conference on Data Mining Workshop, 2015.</p>
      <p>Ting, Wang, et al. <a href="http://dl.acm.org/citation.cfm?id=2500254" target="_blank">A study of hate groups detection based on social networks analysis and Web mining.</a> International Conference on Advances in Social Networks Analysis and Mining, 2013.</p>
      <p>Kwok and Wang. <a href="https://pdfs.semanticscholar.org/db55/11e90b2f4d650067ebf934294617eff81eca.pdf" target="_blank">Locate the hate: Detecting tweets against blacks.</a> AAAI Conference on Artificial Intelligence, 2013.</p>
      <p>Warner and Hirschberg. <a href="http://dl.acm.org/citation.cfm?id=2390377" target="_blank">Detecting hate speech on the world wide Web.</a> Second Workshop on Language in Social Media, 2012.</p>
    </div>
  </div>
{% endblock content %}
