{% extends "base.html" %}

{% block layout %}

  <nav class="{{ system.primary_color_class }}" id="main_nav">
    <div class="nav-wrapper">

      {% if system.brand %}
        <a href="{% url 'home' %}" class="brand-logo">
          <img src="/media/{{ system.brand }}" id="brand" alt="{{ system.name }}">
        </a>
      {% else %}
        <a href="{% url 'home' %}" class="brand-logo">{{ system.name }}</a>
      {% endif %}

      <a href="#" data-activates="mobile_nav" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down" id="comp_nav">
        {% block nav %}
        {% endblock nav %}
        {% if request.user.is_staff %}
          <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Dashboard">
            <a href="{% url 'dashboard' %}"><i class="material-icons">insert_chart</i></a>
          </li>
          <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Admin">
            <a href="{% url 'admin:index' %}"><i class="material-icons">lock</i></a>
          </li>
          {% for item in menu %}
            <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{ item.label }}">
              <a href="{% url item.url %}"><i class="material-icons">{{ item.icon }}</i></i></a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>

      <ul class="side-nav {{ system.primary_color_class }}" id="mobile_nav">
        {% block mobile_nav %}
        {% endblock mobile_nav %}
        {% if request.user.is_staff %}
          <li><a href="{% url 'admin:index' %}"><i class="material-icons">lock</i>Admin</a></li>
          <li><a href="{% url 'dashboard' %}"><i class="material-icons">insert_chart</i>Dashboard</a></li>
        {% endif %}
        {% for item in menu %}
          <li><a href="{% url item.url %}"><i class="material-icons">{{ item.icon }}</i>{{ item.label }}</a></li>
        {% endfor %}
      </ul>

    </div>
  </nav>

  <main>
    {% block content %}{% endblock content %}
  </main>

  <footer class="page-footer grey lighten-2">
    <div class="footer-copyright">
      <div class="container center black-text">
        Mais sobre o projeto:
        <a href="http://inf.ufrgs.br/~rppelle/hatedetector/" class="black-text" target="_blank">
          Hate Dector
        </a>
        |
        Desenvolvido por:
        <a href="{{ system.site_author }}" class="black-text" target="_blank">
         {{ system.author }}
        </a>
      </div>
    </div>
  </footer>

{% endblock layout %}
