{% extends "base.html" %}

{% load i18n %}
{% load materializecss %}

{% block tab_title %}
  {{ system.name }} | {% trans "Login" %}
{% endblock tab_title %}

{% block layout %}

  <body class="{{ system.primary_color_class }} container">

    <div class="row" style="padding-top: 5%;">
      <div class="col l6 offset-l3 m8 offset-m2 s12 z-depth-4 card-panel">
        <form method="post" style="padding: 5%;">
          {% csrf_token %}
          <div class="row center">
              <h4>{{ system.name }}</h4>
          </div>
          {{ login_form.email|materializecss }}
          {{ login_form.password|materializecss }}
          <input type="hidden" name="form" value="login">
          <div class="row">
            <div class="input-field col s12">
              <input type="submit" class="btn {{ system.primary_color_class }} col s8 offset-s2" value="{% trans 'Login' %}">
            </div>
            <div class="col s12 center">
              <br>
              <a class="modal-trigger" href="#recover_password">{% trans "Recuperar Senha" %}</a>
            </div>
          </div>
        </form>
      </div>
    </div>

    <form method="post">
      {% csrf_token %}
      <div id="recover_password" class="modal">
        <div class="modal-content">
          <h3>{% trans "Recuperar Senha" %}</h3>
          <p>
            {% trans "Insira seu email de acesso ao sistema, será enviado uma nova senha em seu email, que poderá ser substituída no próximo acesso." %}
          </p>
          {{ recover_password_form.email_recover|materializecss }}
          <input type="hidden" name="form" value="recover_password">
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn-flat" value="{% trans 'Send' %}">
          <a href="#!" class="modal-action modal-close btn-flat">{% trans "Cancel" %}</a>
        </div>
      </div>
    </form>

  </body>

{% endblock layout %}
