{% extends "layout.html" %}

{% load materializecss %}

{% block tab_title %}
  {{ system.name }} | Classificação
{% endblock tab_title %}

{% block nav %}
    <li id="count">
      {{annotation_i}}/{{annotation_n}}
    </li>
{% endblock nav %}

{% block content %}
  <div class="row">
    <div class="col m12">
      <p>
        <b>O comentário abaixo foi escrito em um site de notícias:</b>
        <a href="{{ annotation.comment.news.url }}" class="right" target="_blank">Clique aqui para ver a notícia</a>
      </p>
      <i>"{{ annotation.comment.text }}"</i>
    </div>
  </div>
  <form method="POST" class="row">
      {% csrf_token %}
      <div class="col m6 s12">
        <b>Você classifica este comentário como ofensivo?</b>
        {{form.is_hate_speech|materializecss:'s12'}}
      </div>
      <div class="col m6 s12">
        <b>Caso afirmativo, a ofensa pode ser classificada como:</b>
        <br>(pode escolher quantas classes quiser)
        {{form.kind|materializecss:'s12'}}
        {{form.other|materializecss:'s6'}}
      </div>
      <div class="col s12">
        <a class="modal-trigger" href="#instrucoes">Instruções</a><br>
        <a class="modal-trigger" href="#classes">Definições das Classes</a>
        <input type="submit" class="{{ system.primary_color_hex }} btn right" value="Próximo">
      </div>
  </form>
  <div id="instrucoes" class="modal">
    <div class="modal-content">
      <h5>Instruções</h5>
        <p>
          Prezado(a) {{ request.user.get_full_name }}, você irá nos ajudar a treinar um sistema de reconhecimento de comentários​ ofensivos.​
        </p>
        <p>
          Comentários ofensivos atacam, ameaçam ou insultam uma pessoa ou grupo de pessoas por sua origem, etnia, raça, religião, gênero, orientação sexual, deficiência, etc. Nosso objetivo é reconhecê-los de forma automática e não permitir que eles sejam divulgados na Internet.
        </p>
        <p>
          Iremos apresentar {{annotation_n}} comentários coletados de sites de notícias brasileiros. Sua tarefa é julgar se cada comentário pode ser considerado ofensivo, em outras palavras, se o comentário pode causar constrangimento a uma pessoa ou grupo de pessoas. Caso afirmativo, pedimos também que classifique o tipo de ofensa encontrada.​
        </p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close btn-flat">Fechar</a>
    </div>
  </div>

  <div id="classes" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h5>Definições das classes</h5>
      {% for type in types %}
        <p><b>{{ type.name}}: </b>{{ type.definition }}</p>
      {% endfor %}
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close btn-flat">Fechar</a>
    </div>
  </div>

  {% block script %}
    <script>
      {% if intro %}
        $(document).ready(function(){
            $('#instrucoes').modal('open');
        });
      {% endif %}
      $('[name="is_hate_speech"]').change(function() {
        $('input[type="submit"]').prop('disabled', false);
      });
      $('input[type="submit"]').prop('disabled', true);
    </script>
  {% endblock script %}

{% endblock content %}
