{% extends "layout.html" %}

{% block tab_title %}
  {{ system.name }} | Classificação
{% endblock tab_title %}

{% block nav %}
    <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Dashboard" id="count">
      {{annotation_i}}/{{annotation_i}}
    </li>
    <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Dashboard">
      <a href="{% url 'dashboard' %}"><i class="material-icons">insert_chart</i></a>
    </li>
{% endblock nav %}

{% block content %}
  <div class="row">
    <div class="col m12">
      <h5>Todos os comentários foram classificados, obrigado por sua participação.</h5>
      <p>Total: <b>{{ classifications }}</b></p>
      <p>Positivos: <b>{{ positive}}</b></p>
      <p>Negativos: <b>{{ negative}}</b></p>
    </div>
  </div>
{% endblock content %}
