{% extends "layout.html" %}

{% load materializecss %}

{% block tab_title %}
  {{ system.name }} | Dashboard
{% endblock tab_title %}

{% block nav %}
    <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Export Arff">
      <a href="{% url 'arff' %}"><i class="material-icons">file_download</i></a>
    </li>
    <li class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Classificação">
      <a href="{% url 'annotation' %}"><i class="material-icons">comment</i></a>
    </li>
{% endblock nav %}

{% block content %}
  <div class="row">
    <div class="col m12">
      <h5>Dashboard</h5>
    </div>
    <div class="col m3">
      <p>Comentários: <b>{{ meta }}</b></p>
      <p>Comentários Positivos: <b>{{ pos }}</b></p>
      <p>Comentários Negativos: <b>{{ neg }}</b></p>
      <p>Classificações: <b>{{ n_annotations }}</b></p>
      <p>Anotadores: <b>{{ n_annotators }}</b></p>
    </div>
    <div class="col m6">
      <canvas id="myChart" height="100%"></canvas>
    </div>

  {% block script %}
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
              labels: [" Ofensivos", " Não Ofensivos", " Não Classificados"],
              datasets: [{
                  label: '# of Votes',
                  data: [{{pos}}, {{neg}}, {{unclas}}],
                  backgroundColor: [
                      '#f44336',
                      '#00c853',
                      '#1e88e5',
                  ],
              }]
          },
          options: {
            legend: {
              position: 'bottom',
            }
          }
      });
      </script>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  {% endblock script %}

{% endblock content %}
