{% extends "layout.html" %}

{% load materializecss %}

{% block tab_title %}
  {{ system.name }}
{% endblock tab_title %}

{% block nav %}
{% endblock nav %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header active">
            <i class="material-icons">help_outline</i>Instruções
          </div>
          <div class="collapsible-body">
            <p>
              Prezado(a) participante, você irá nos ajudar a treinar um sistema de reconhecimento de comentários​ fensivos.​ Antes de iniciar pedimos que leia as instruções até o final, solicitamos que insira seu e-mail para que possamos calcular o nível de concordância dos anotadores, não o divulgaremos, enviaremos apenas um e-mail ao final das pesquisa para informar os resultados e agradecer por sua participação.<br><br>
              Você pode participar quantas vezes quiser classificando quantos comentários quiser por vez, basta inserir o mesmo e-mail e continuar anotando, você também pode convidar enviando o link deste site ou campartilhanto em suas redes sociais. Temos uma meta de classificar {{ meta }} comentários, quanto mais pessoas colaborarem, mais rápido iremos conseguir.<br><br>
              Seram apresentados comentários coletados de sites de notícias brasileiros. Sua tarefa é julgar se cada comentário pode ser considerado ofensivo, em outras palavras, se o comentário pode causar constrangimento a uma pessoa ou grupo de pessoas. Caso afirmativo, pedimos também que classifique o tipo de ofensa encontrada, estes tipos estão descritos abaixo, caso a ofensa não se classifique em nenhum deles pedimos que insira no campo outro.
            </p>
          </div>
        </li>
        <li>
          <div class="collapsible-header active">
            <i class="material-icons">menu</i>Classes
          </div>
          <div class="collapsible-body">
            <p>
              {% for type in types %}
                <b>{{ type.name}}: </b>{{ type.definition }}<br><br>
              {% endfor %}
            </p>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">content_paste</i>Termo de Consentimento</div>
          <div class="collapsible-body">
            <p>
              O participante se declara ciente que está sendo convidado a participar de um estudo denominado Hate Detector, cujos objetivo é: Desenvolver um sistema que possa identificar de comentários ofensivos de forma automática. A participação no referido estudo será no sentido de classificar comentários obtidos em sites de notícias, identificando aqueles que possuem conteúdo ofesivo.<br><br>
              A privacidade do participante será respeitada, ou seja, nome ou qualquer outro dado ou elemento que possa, de qualquer forma, identifica-lo, será mantido em sigilo. É direito d participante recusar a participar do estudo, ou retirar o consentimento a qualquer momento, sem precisar justificar, e de, por desejar sair da pesquisa, não sofrer qualquer prejuízo.<br><br>
              Os pesquisadores envolvidos com o referido projeto são Rogers Prates de Pelle e Profª Dr. Viviane Pereira Moreira e com eles pode-se manter contato pelo email rogers.pelle@inf.ufrgs.br.<br><br>
              Tendo sido orientado quanto ao teor de todo o aqui mencionado e compreendido a natureza e o objetivo do já referido estudo, o participante manifesta seu livre consentimento em participar, estando totalmente ciente de que não há nenhum valor econômico, a receber ou a pagar, pela participação.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <form method="post">
        {% csrf_token %}
        {{ form.email|materializecss:'s12' }}
        <p class="center">
          <input type="checkbox" id="checkbox" />
          <label for="checkbox" class="black-text">Eu li todas as Instruções e Termos de Consentimento e desejo iniciar.</label>
        </p>
        <p class="center">
          <input type="submit" class="btn {{system.primary_color_class}}" disabled="true" value="Começar">
        </p>
      </form>
    </div>
  </div>
  {% block script %}
    <script>
      $("#checkbox").change(function() {
          if(this.checked) {
            $('input[type="submit"]').prop('disabled', false);
          }
          else{
            $('input[type="submit"]').prop('disabled', true);
          }
      });
    </script>
  {% endblock script %}
{% endblock content %}
